<% provide(:title, 'Редактирование услуги') %>
<h1>Редактирование услуги <%= @service.header %></h1>
<div id="common clearfix">
	<div id="left">
		<%= form_for @service, :html => {:multipart => true} do |f| %>
			<% render :partial =>'services/form', :locals => {:f => f} %>
		<% end %>
		<div class="clear"></div>
	</div>
	<div id="right">
		<div id="button_to_add_new" class="button_to_add_new">
			<%= link_to raw("<span>Создание новой услуги</span>"), new_service_path, class: "image_button" %>
		</div>
	</div>
</div>
<div class="clear"></div>