<% provide(:title,  raw(@service.title)) %>
<div class="main-menu">
	<%= render 'layouts/service_navigation' %>
</div>
<div class="services-content">
	<h1><%= @service.header %></h1>
	<div class="services-img">
		<%= image_tag(@service.image.general.url) if @service.image? %>
	</div>

	<div class="service-inner">
		<%= raw(@service.body) %> 
	</div>
</div>
