<% provide(:title, 'Главная') %>
<div class="main-services clearfix">
	<h1 class="line">
		<a href>Услуги</a>
	</h1>							
	<div class="main-white-block">
		<a href><img src /></a>
		<div class="main-more-info">
			<ul>
				<li><a href></a></li>
			</ul>
		</div>
		<h2 class="addpadding">Название</h2>
	</div>
</div>

<div class="main-news">
	<h1 class="line">
		<a href>Новости</a>
	</h1>
	<div class="main-news-content clearfix">
		<a href class="float"><img src="" alt=""></a>	
		<div class="main-info-block">
			<h2 class="main-info-header">
				<a href>Заголовок новости</a>
			</h2>
			<div class="main-info-date">
				11.12.1111
			</div>
			<p>
				ыфвыфвыфвывывыфвыфвыфвыв
			</p>
			<div class="main-info-more">
				<a href>Подробнее</a>
			</div>
		</div>
	</div>
</div>

<div class="main-about">
	<h1 class="line">О компании</h1>
	<img src="/images/about-general.png" alt="О компании" style="float:left;">

	<div class="main-info-block">
		<h2 class="main-info-header">Заголовок о</h2>
		<p class="float">
			ыфвыфвыфвыв фывыф
		</p>
	</div>
</div>