<% provide(:title, raw('Каталог строительных услуг и комплектующих оптом и в розницу - качество, низкие цены.'))%>
<div class="main-services clearfix">
	<h1 class="line">
		<a href>Услуги</a>
	</h1>
	<% @services.each do |service| %>							
		<div class="main-service">
			<%= link_to image_tag(service.image.general_thumb.url), service.full_path if service.image? %>
			<div class="main-more-info">
				<ul>
					<% @childrens = Services.where(parent_id: service.id).order(:position) %>
					<% @childrens.each do |children| %>
						<li><%= link_to children.header, children.full_path %></li>
					<% end %>
				</ul>
			</div>
			<h2 class="addpadding"><%= service.header %></h2>
		</div>
	<% end %>
</div>
<div class="margin"></div>