<% provide(:title, 'Список пользователей') %>
<h1>Список пользователей</h1>
<ul class="users">
	<%= render @users %>
</ul>
<%= will_paginate(:previous_label => "&#8592;Назад",:next_label => "Вперед&#8594;") %>