<%= image_tag("work.png", :alt => "Раздел в разработке", :class => "main-development-img") %>
<div class="main-development">
	<h2>
		Внимание!<br /><br />
		<div style="margin-top:-10px">Данный раздел находится в разработке</div>
	</h2><br />
	<p>
		Пожалуйста, зайдите в данный раздел позднее.
	</p>
</div>