<div id="footer">
	<div class="footer-content center">
		<div class="footer-copyright">© 2015 ООО <span class="quotes">«</span>Феникс<span class="quotes">»</span></div>
			<div class="footer-adress">124460 г. Зеленоград, 2-й Западный пр-д., д. 1, стр. 1, офис 205</div>
	</div>
</div>