<div class="top-panel">
	<div class="top-panel-inner center">

		<%= render 'layouts/search' %>

		<%= render 'layouts/authorization' %>

	</div>
</div>
<div class="header">
	<div class="head-content clearfix center">
		<div class="float logo">
			<a href="/">
				<%= image_tag("logo.jpg", :alt => "Логотип") %>
			</a>
		</div>
		<div class="head-contacts">
			8 916 963-97-06<br/>
			<span>8 917 520-63-71</span><br />
			<a href="mailto:antipovstroy@gmail.com">antipovstroy@gmail.com</a>
		</div>
		<div class="menu-top">

			<%= render 'layouts/navigation' %>

		</div>
	</div>
</div>
		