<div class="top-panel">
	<div class="top-panel-inner center">

		<%= render 'layouts/search' %>

		<%= render 'layouts/authorization' %>

	</div>
</div>
<div class="header">
	<div class="head-content clearfix center">
		<div class="float">
			<a href="/">
				<img src="/images/logo.png" alt="Логотип">
			</a>
		</div>
		<div class="head-contacts">
			8 800 555-22-53<br/>
			<span>8 495 540-52-37</span><br />
			<a href="mailto:info@ardi-typography.ru">info@ardi-typography.ru</a>
		</div>
		<div class="menu-top">

			<%= render 'layouts/navigation' %>

		</div>
	</div>
</div>
		